.cardWrap {
  margin-bottom: 10px;
  display: flex;
  border: 3px solid cornflowerblue;
  background-color: rgb(202, 238, 145);

  -webkit-box-shadow: 4px 12px 15px 11px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 12px 15px 11px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 12px 15px 11px rgba(34, 60, 80, 0.2);
}
.imgWrap {
  width: 200px;
  height: 300px;
  margin: 20px;
}
.img {
  width: 100%;
  height: auto;
}
.contentWrap {
  margin: 20px;
  width: 300px;
}
.contentWrap :not(:last-child) {
  margin-bottom: 10px;
}
.link {
  margin-right: 10px;
}
